.cmp-text {
  // margin: 0.75rem 0 0 0;
  // color: $text;
  // font-weight: normal;
  // font-size: 1em;
  // & b {
  //   font-weight: bold;
  // }
  // & p a {
  //   color: $accent;
  //   text-decoration: none;
  //   border: 0.125em solid $transparent;
  //   border-radius: 0.25em;
  //   &:hover {
  //     color: $accent-hover;
  //     text-decoration: underline;
  //     text-decoration-thickness: 0.125em;
  //     text-decoration-color: $accent-hover;
  //     text-decoration-style: solid;
  //   }
  //   &:focus {
  //     text-decoration: underline;
  //     border-color: $accent;
  //     outline: none;
  //     text-decoration-thickness: 0.125em;
  //     text-decoration-color: $accent;
  //     text-decoration-style: solid;
  //   }
  // }
  & blockquote {
    margin: 0.75rem 0;
    font-size: 1.75em;
    font-family: titleFont, serif;
    font-style: italic;
    line-height: 2.375rem;
    margin-inline: 0;
  }
  & ul li::marker {
    content: "-  ";
  }
}

.cmp-container-home {
  .cmp-text { 
    padding: 40px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid $color-heading;
    box-shadow: 0 0 12px 0 $color-box-shadow;
    border-radius: 20px;
    font-size: 28px;
    margin-bottom: 40px;
    @media only screen and (min-width: 768px) {
      margin-bottom: 0;
      padding: 100px;
    }
  }
}
// .cmp-text__paragraph {
// }
