.container:not(.root) .container {
  padding: 20px;
  @media only screen and (min-width: 768px) {
    padding: 0;
    //margin: 0 auto;
  }
  & > .cmp-container {
    box-shadow: 0 0 12px 0 $color-box-shadow;
    height: 100%;
    overflow: auto;
    display: block;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    @media only screen and (min-width: 768px) {
      padding: 30px;
      margin: 0 auto;
    }
    @media only screen and (min-width: 1140px) {
      max-width: 1140px;
    }
    
  }
  &.cmp-container-home {
      & > .cmp-container {
        box-shadow: none;
      }
  }
}
