.cmp-image {
  //margin-top: 2.25em;
  padding-left: 20px;
  &__image{
    width: 50px;
    max-height:100%;
    @media only screen and (min-width: 768px){
      width: 100px;
      margin-left:28% !important;
    }
  }
}
// .cmp-image__link {
// }
// // .cmp-image__image {
// //   //display: block;
// // }
// .cmp-image__title {
// }
