//== Base

@mixin fontface($name, $file, $weight: normal, $style: normal) {
  @font-face {
    font-weight: $weight;
    font-family: "#{$name}";
    font-style: $style;
    src: url("../resources/fonts/#{$file}.ttf") format("truetype");
  }
}

@include fontface(defaultFont, "SourceSansPro/SourceSansPro-Black", bolder)
@include fontface(defaultFont, "SourceSansPro/SourceSansPro-BlackItalic", bolder, italic )
@include fontface(defaultFont, "SourceSansPro/SourceSansPro-Bold", bolder)
@include fontface(defaultFont, "SourceSansPro/SourceSansPro-BoldItalic", bolder, italic )
@include fontface(defaultFont, "SourceSansPro/SourceSansPro-ExtraLight", lighter)
@include fontface(defaultFont, "SourceSansPro/SourceSansPro-ExtraLightItalic",lighter,italic)
@include fontface(defaultFont, "SourceSansPro/SourceSansPro-Italic", normal, italic)
@include fontface(defaultFont, "SourceSansPro/SourceSansPro-Light", lighter)
@include fontface(defaultFont, "SourceSansPro/SourceSansPro-LightItalic", lighter, italic )
@include fontface(defaultFont, "SourceSansPro/SourceSansPro-Regular", normal)
@include fontface(defaultFont, "SourceSansPro/SourceSansPro-SemiBold", bold)
@include fontface(defaultFont, "SourceSansPro/SourceSansPro-SemiBoldItalic", bold, italic )
@include fontface(titleFont, "SourceSerifPro/SourceSerifPro-Black", bolder)
@include fontface(titleFont, "SourceSerifPro/SourceSerifPro-BlackItalic", bolder, italic )
@include fontface(titleFont, "SourceSerifPro/SourceSerifPro-Bold", bolder)
@include fontface(titleFont, "SourceSerifPro/SourceSerifPro-BoldItalic", bolder, italic )
@include fontface(titleFont, "SourceSerifPro/SourceSerifPro-ExtraLight", lighter)
@include fontface(titleFont, "SourceSerifPro/SourceSerifPro-ExtraLightItalic", lighter, italic)
@include fontface(titleFont, "SourceSerifPro/SourceSerifPro-Italic", normal, italic)
@include fontface(titleFont, "SourceSerifPro/SourceSerifPro-Light", lighter)
@include fontface(titleFont, "SourceSerifPro/SourceSerifPro-LightItalic", lighter, italic)
@include fontface(titleFont, "SourceSerifPro/SourceSerifPro-Regular", normal)
@include fontface(titleFont, "SourceSerifPro/SourceSerifPro-SemiBold", bold)
@include fontface(titleFont, "SourceSerifPro/SourceSerifPro-SemiBoldItalic", bold, italic)

    html,
  body {
  margin: 0;
  color: $color-foreground;
  font-size: $font-size;
  font-family: $font-family;
  line-height: $font-height;
  $font-weight:400;
  background: $color-background;
}

a {
  color: $color-link;
  text-decoration: none;
 
  &:hover {
    color: $color-link-hover;
  }
}

p {
	color:$color-text-default;
	margin:15px 0;
	font-size:13px;	
	@media only screen and (min-width: 768px) {
      font-size:16px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0;
}

h1 {
  font-size: 32px;
  margin: 11px 0;
}

h2 {
  color: $color-heading;  
  font-size: 13px;
  margin-top: 15px;
  margin-bottom: 15px;
  @media (min-width: 768px) {
    font-size: 17px;
  }
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

//== Grid

// Default breakpoint
.aem-Grid {
  @include generate-grid(default, $max_col);
}

// Phone breakpoint
@media (max-width: 768px) {
  .aem-Grid {
    @include generate-grid(phone, $max_col);
  }
}
